{% extends 'base.html' %}
{% block contenido %}
<h1> {{ titulo }} </h1>
	{% for dato in name %}
		<h2> {{dato.nombreAutor}}</h2>
		{%if dato.imagen == None%}
			<img width="150" src="/media/images/default.jpg" alt="Image"> <br>
		{% else %}
        	<img width="150" src="/media/{{dato.imagen}}" alt="Image"> <br>
        {% endif %}
		<h3> Descripcion </h3>
        <p> {{dato.descripcion|linebreaks}} </p>
		<p>
			Correo: <a href=mailto:{{dato.correo}}>  {{dato.correo}} </a>  <br>
			Github: <a href={{dato.github}} >  {{dato.github}} </a> <br>	
		</p>			
	{% endfor %} <br>
    <p> Click <a href="/autores/"> aqui  </a> para ver todos los Autores</p>
{% endblock contenido %}