<!DOCTYPE HTML>
<html>
	{% load staticfiles %}
	<head>
		<title>AprendePy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
			    <!-- Menu -->
				<img width="300" src="/static/images/logo.png" alt="Image"> <br>
				<div class="Menu"> 
					<nav>
						<ul id="button">
							<li><a href="/">Inicio</a> </li>
							<li><a href="/cursos/">Cursos</a> </li>
							<li><a href="/contacto/">Contacto</a> </li>
							<li><a href="/about/">About</a> </li>
							<li><a href="/faq/">FAQ</a> </li>
						</ul>
					</nav>
				</div>
                {% block contenido %}   
                {% endblock %}
            </header>
			

        <!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/AprendePy" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/LucasVega777/AprendePy" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:apprendepy@gmail.com" class="icon fa-envelope">
					<span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; AprendePy.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li><li><a href="/admin"> Admin</a></li>
				</ul>
			</footer>
		<!-- Scripts -->
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>