{% extends 'base.html' %}
{% block contenido %}
	<h1>Contacto</h1>
	<p>Puedes contactar con nosotros mediante:<br/>
		<a href="https://twitter.com/AprendePy" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
		Twitter: <a href= "https://twitter.com/AprendePy"> @apprendePy </a> <br/>
		<a href="mailto:apprendepy@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a>
		Gmail: Click<a href="mailto:apprendepy@gmail.com"> aqui  </a> para redactar un correo <br/>
		<a href="https://github.com/LucasVega777/AprendePy" class="icon brands fa-github"><span class="label">GitHub</span></a>
		Tambien podes hacer click <a href="https://github.com/LucasVega777/AprendePy">aqui </a> para acceder a nuestro repositorio en Github	
	</p>
{% endblock contenido %}