{%  extends 'base.html' %}
{% block  contenido %}
			<h1>Preguntas Frecuentes</h1>
			<h2>¿Puedo sugerir la creación de nuevos cursos en la plataforma?</h2> 
				<p>Sí, se pueden contactar con nosotros en <a href="https://twitter.com/AprendePy">Twitter</a> o por <a href="mailto:apprendepy@gmail.com">correo electrónico</a>.</p>
			<h2>¿Puedo colaborar con el desarrollo del proyecto?</h2> 
 				<p>Sí, tenemos el repositorio libre en <a href="https://github.com/LucasVega777/AprendePy"> github</a> , así que cualquier ayuda o sugerencia 
					puedes hacerlo sin problema.
				</p> 
			<h2>¿Tienen costo los cursos?</h2>   
				<p>No, este proyecto fue hecho con el único fin de compartir herramientas para el
					aprendizaje de la programación a modo de aporte para las personas que se inician
					en el mundo de la programación o bien para las que desean afianzar sus conocimientos 
					acerca del tema.
				</p>  
			<h2>¿Se agregarán cursos de nivel avanzado?</h2>   
				<p>Sí, en algún momento se  agregarán cursos de nivel superior. 
					Por el momento nos enfocamos en el nivel básico. <br>
 					Para cualquier información sobre proyectos en curso contactarse con nosotros 
			 		por medio de los enlaces contenidos en el sitio de contacto.
				</p>
{% endblock contenido %}